@using VendorOrderTracker.Models;

@{
  Layout = "_Layout";
}

<h1 class="py-3">@Model["vendor"].Name</h1>

<div class="page-content container py-3 px-4">
  <h2>@Model["order"].Title</h2>
  <p>Description: @Model["order"].Description</p>
  <p>Order Date: @Model["order"].OrderDate</p>
  <p>Delivery Date: @Model["order"].DeliveryDate</p>
  <p>Total Price: @Model["order"].Price</p>
</div>

<div class="text-center">
  <a class="btn btn-secondary btn-lg m-2" href='/vendors/@Model["vendor"].Id'>@Model["vendor"].Name - Vendor Page</a>
  <a class="btn btn-secondary btn-lg m-2" href="/vendors">Vendor List</a>
  <a class="btn btn-secondary btn-lg m-2" href="/">Back Home</a>
</div>